@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  background: #d7d7d7;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.8125rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.loading-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #FFF;
  -webkit-animation: hide 2s forwards;
          animation: hide 2s forwards;
}
.loading-overlay__spinner {
  position: absolute;
  top: calc(50% - 4rem);
  left: calc(50% - 2rem);
  width: 4rem;
  height: 4rem;
  border-top: 0.5rem transparent solid;
  border-right: 0.5rem #9356DC solid;
  border-bottom: 0.5rem #FF79DA solid;
  border-left: 0.5rem #99E2D0 solid;
  border-radius: 50%;
  -webkit-animation: spin 0.6s infinite linear;
          animation: spin 0.6s infinite linear;
}
.loading-overlay__logo {
  position: absolute;
  top: calc(50% + 2rem);
  width: 100%;
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 1.25rem;
  -webkit-animation: move-to-center 0.7s ease both;
          animation: move-to-center 0.7s ease both;
}

@-webkit-keyframes hide {
  0% {
    visibility: visible;
  }
  75% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    visibility: visible;
  }
  75% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes move-to-center {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes move-to-center {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.header__title {
  font-family: "Shrikhand", cursive;
  margin: 1.1rem 0 0.675rem;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  padding: 1rem 0;
  box-shadow: inset 0 8px 8px -10px rgba(0, 0, 0, 0.5);
}
.location__name {
  font-weight: 500;
  color: #353535;
  padding-right: 1.37rem;
}
.location__name .location-icon {
  padding-right: 0.87rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6;
  padding: 2.5rem 0 3.4rem;
}
.presentation__title {
  width: 75%;
  text-align: center;
  padding-bottom: 1rem;
}
.presentation__description {
  width: calc(100% - 2.5rem);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  padding-bottom: 1.9rem;
}

.instructions-container {
  padding: 3rem 0;
  background: #fff;
}
.instructions-container__title {
  width: calc(100% - 2.5rem);
  margin: 0 auto 1.75rem;
}

.instructions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 2.5rem);
  margin: auto;
}
@media screen and (min-width: 540px) {
  .instructions-wrapper {
    width: 30rem;
  }
}
@media screen and (min-width: 992px) {
  .instructions-wrapper {
    width: calc(100% - 2.5rem);
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
  }
}

.instructions {
  position: relative;
  width: calc(100% - 0.75rem);
  height: 4.6rem;
  margin-left: 0.75rem;
  margin-bottom: 1.5rem;
  background: #F6F6F6;
  border-radius: 1.5rem;
  z-index: 1;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 992px) {
  .instructions {
    width: calc(33% - 1.25rem);
  }
}
.instructions::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1.5rem;
  z-index: -1;
  opacity: 0;
  background: #f2eafb;
}
.instructions:hover::after {
  opacity: 1;
}
.instructions:hover .instructions__description-icon--grey {
  opacity: 0;
}
.instructions:hover .instructions__description-icon--purple {
  opacity: 1;
}
.instructions__description {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  top: 1.55rem;
  left: -0.75rem;
}
.instructions__description-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.825rem;
  font-weight: 400;
  color: #fff;
  background: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 1.25rem;
}
.instructions__description-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 1.5rem;
}
.instructions__description-icon--grey {
  opacity: 0.5;
}
.instructions__description-icon--purple {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #9356DC;
  opacity: 0;
}

.restaurants-container {
  background: #F6F6F6;
  padding: 3rem 0;
}
.restaurants-container__title {
  width: calc(100% - 2.5rem);
  margin: 0 auto 1.75rem;
}

.restaurant-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2.5rem);
  margin: auto;
}
@media screen and (min-width: 768px) {
  .restaurant-wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.card-restaurant {
  position: relative;
  background: #fff;
  border-radius: 1rem;
  margin-bottom: 1.25rem;
  z-index: 1;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .card-restaurant {
    width: calc(50% - 0.625rem);
    margin-bottom: 1.5rem;
  }
}
.card-restaurant::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  z-index: -1;
  opacity: 0;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
  transition: opacity 0.15s;
}
.card-restaurant:hover::after {
  opacity: 1;
}
.card-restaurant a {
  display: block;
}
.card-restaurant__image {
  height: 11rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 410px) {
  .card-restaurant__image {
    height: 12rem;
  }
}
@media screen and (min-width: 768px) {
  .card-restaurant__image {
    height: 13rem;
  }
}
@media screen and (min-width: 768px) {
  .card-restaurant__image {
    height: 14rem;
  }
}
@media screen and (min-width: 992px) {
  .card-restaurant__image {
    height: 15rem;
  }
}
.card-restaurant__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media screen and (min-width: 410px) {
  .card-restaurant__image img {
    -o-object-position: center;
       object-position: center;
  }
}
.card-restaurant__image--portrait img {
  -o-object-position: 50% 61%;
     object-position: 50% 61%;
}
.card-restaurant__image--new {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background: #99E2D0;
  color: #278870;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 0.1rem;
  padding: 0.375rem 0.725rem;
  line-height: normal;
}
.card-restaurant__description {
  height: 4.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-restaurant__description h3 {
  font-size: 1.125rem;
  font-weight: 700;
  padding-left: 0.75rem;
  padding-bottom: 0.25rem;
}
.card-restaurant__description p {
  padding-left: 0.75rem;
  font-size: 1rem;
  font-weight: 300;
}
.card-restaurant__description--heart {
  margin: 0 1.25rem 0.5rem 0;
}

.footer {
  background: #353535;
  padding-bottom: 1.5rem;
}

.footer-nav {
  padding-left: 1.625rem;
}
.footer-nav__heading {
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
  color: #FFF;
  padding: 1.625rem 0 1.25rem;
}
.footer-nav__link {
  padding-bottom: 0.5rem;
}
.footer-nav__link a {
  font-size: 0.965rem;
  color: #FFF;
}
.footer-nav__link .flatware-icon {
  font-size: 0.75rem;
  padding-right: 1.25rem;
}
.footer-nav__link .handshake-icon {
  font-size: 0.625rem;
  padding-right: 1.25rem;
}

.btn {
  position: relative;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFF;
  font-size: 0.97rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2rem;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(to bottom right, #ff8de0, #9e67e0);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
  transition: opacity 150ms;
}
.btn:hover::after {
  opacity: 1;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}
.heart__icon--full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-weight: 900;
  transform: scale(0);
}
.heart:hover .heart__icon {
  opacity: 0;
  transition: opacity 0.2s 0.4s;
}
.heart:hover .heart__icon--full {
  -webkit-animation: heart-animation 0.7s forwards;
          animation: heart-animation 0.7s forwards;
}

@-webkit-keyframes heart-animation {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heart-animation {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */