@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.8125rem;
  font-weight: 500;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  font-family: "Shrikhand", cursive;
  margin: 1.1rem 0 0.675rem;
}

.footer {
  background: #353535;
  padding-bottom: 1.5rem;
}

.footer-nav {
  padding-left: calc(5% + 0.375rem);
}
@media screen and (min-width: 768px) {
  .footer-nav {
    padding-left: 3.5%;
  }
}
@media screen and (min-width: 992px) {
  .footer-nav {
    padding-left: 2.5%;
  }
}
.footer-nav ul {
  list-style: none;
}
.footer-nav__heading {
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
  color: #FFF;
  padding: 1.625rem 0 1.25rem;
}
.footer-nav__link {
  padding-bottom: 0.5rem;
}
.footer-nav__link a {
  font-size: 0.965rem;
  color: #FFF;
}
.footer-nav__link .flatware-icon {
  font-size: 0.75rem;
  padding-right: 1.25rem;
}
.footer-nav__link .handshake-icon {
  font-size: 0.625rem;
  padding-right: 1.25rem;
}

.btn {
  position: relative;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFF;
  font-size: 0.97rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2rem;
  z-index: -1;
  opacity: 0;
  background: linear-gradient(to bottom right, #ff8de0, #9e67e0);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.15);
  transition: opacity 150ms;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}
.heart__icon--full {
  position: absolute;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: 900;
  transform: scale(0);
}
.heart:hover .heart__icon {
  opacity: 0;
  transition: opacity 0.2s 0.5s;
}
.heart:hover .heart__icon--full {
  -webkit-animation: heart-animation 0.8s forwards;
          animation: heart-animation 0.8s forwards;
}

@-webkit-keyframes heart-animation {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heart-animation {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
.home-link {
  position: absolute;
  left: 5%;
  font-size: 1.125rem;
  height: 1.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .home-link {
    left: 3.5%;
  }
}
@media screen and (min-width: 992px) {
  .home-link {
    left: 2.5%;
  }
}

.restaurant-image {
  height: 17rem;
}
@media screen and (min-width: 410px) {
  .restaurant-image {
    height: 18rem;
  }
}
@media screen and (min-width: 540px) {
  .restaurant-image {
    height: 20rem;
  }
}
@media screen and (min-width: 768px) {
  .restaurant-image {
    height: 22rem;
  }
}
@media screen and (min-width: 992px) {
  .restaurant-image {
    height: 24rem;
  }
}
.restaurant-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media screen and (min-width: 540px) {
  .restaurant-image img {
    -o-object-position: center;
       object-position: center;
  }
}

.restaurant-menu-container {
  position: relative;
  background: #F6F6F6;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -3.25rem;
  padding-bottom: 4rem;
}
.restaurant-menu-container__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.restaurant-menu-container__btn .btn--lg {
  padding: 1rem 3.125rem;
}

.restaurant-heading {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 2.25rem;
}
@media screen and (min-width: 992px) {
  .restaurant-heading {
    width: 92%;
  }
}
.restaurant-heading__name {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  font-weight: 500;
}
.restaurant-heading__heart {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .menu-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .menu-wrapper__course {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .menu-wrapper__button {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.restaurant-course {
  width: 90%;
  margin: auto;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 2.25rem;
}
.restaurant-course__separator {
  width: 2.5rem;
  border-top: 3px solid #99E2D0;
  margin-top: 0.375rem;
}

.restaurant-dish {
  display: flex;
  align-items: center;
  position: relative;
  width: 93%;
  margin: auto;
  margin-top: 0.825rem;
  background: #fff;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-animation: dish-animation 0.8s ease-out both 0.2s;
          animation: dish-animation 0.8s ease-out both 0.2s;
}
.restaurant-dish--delay1 {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.restaurant-dish--delay2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.restaurant-dish--delay3 {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}
.restaurant-dish--delay4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.restaurant-dish--delay5 {
  -webkit-animation-delay: 0.95s;
          animation-delay: 0.95s;
}
.restaurant-dish--delay6 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.restaurant-dish--delay7 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.restaurant-dish:hover .restaurant-dish__description {
  width: calc(100% - 6.75rem);
  transition: width 0.7s linear;
}
.restaurant-dish:hover .restaurant-dish__price {
  transform: translateX(-3rem);
  transition: transform 0.7s ease 0.1s;
}
.restaurant-dish:hover .restaurant-dish__check {
  transform: translateX(-3.75rem);
  transition: transform 0.8s ease;
}
.restaurant-dish:hover .restaurant-dish__check span {
  transform: rotate(0deg);
  transition: transform 0.4s ease 0.2s;
}
.restaurant-dish__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 1.25rem 0.75rem 0.625rem;
  width: calc(100% - 3rem);
  transition: width 0.6s linear 0.2s;
}
.restaurant-dish__description h3 {
  font-size: 1.125rem;
  font-weight: 500;
  padding-bottom: 0.375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant-dish__description p {
  font-size: 0.927rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant-dish__price {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 3rem;
  font-size: 0.925rem;
  font-weight: 700;
  padding-bottom: 0.75rem;
  transform: translateX(0);
  transition: transform 0.6s ease-in 0.1s;
}
.restaurant-dish__check {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -3.75rem;
  width: 3.75rem;
  background: #99E2D0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in;
}
.restaurant-dish__check span {
  transform: rotate(-180deg);
  transition: transform 0.4s ease-in 0.1s;
}

@-webkit-keyframes dish-animation {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dish-animation {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=page.css.map */