@mixin title {
  width: $section-width;
  margin: 0 auto 1.75rem;
}

@mixin section-padding {
  padding: 3rem 0;
}

@mixin section-margin {
  width: $section-width;
  margin: auto;
}

@mixin shadow($opacity: 0.2) {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, $opacity);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin mobile-large {
  @media screen and (min-width: map-get($breakpoints, mobile-large)) {
    @content;
  }
}

@mixin tablet-small {
  @media screen and (min-width: map-get($breakpoints, tablet-small)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    @content;
  }
}