$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F6F6F6;
$section-width: 90%;
$section-margin: calc((100% - $section-width) * 0.5);
$spinner-size: 4rem;
$price-width: 3rem;
$check-width: 3.75rem;
$dish-delay: 0.2s;
$num-dish-delay: 7;
$breakpoints: (mobile-large:376px, tablet: 768px, desktop: 992px);