$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', cursive;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F6F6F6;
$section-margin: 1.25rem;
$section-width: calc(100% - $section-margin * 2);
$spinner-size: 4rem;
$spinner-border: 0.5rem;
$instructions-height: 4.6rem;
$instructions-num-size: 1.5rem;
$price-width: 3rem;
$check-width: 3.75rem;
$dish-delay: 0.2s;
$num-dish-delay: 7;
$breakpoints: (mobile-large: 410px, tablet-small: 540px , tablet: 768px, desktop: 992px);