@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/normalize';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
}

a {
  color: #000;
  text-decoration: none;
}

.home-header {
  font-family: $font-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: 1.8em;
    font-weight: 500;
    margin: 1.1rem 0 0.675rem;
  }
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  padding: 1em 0;
  box-shadow: inset 0px 8px 8px -10px rgba(0, 0, 0, 0.5);

  &__name {
    font-weight: 500;
    opacity: 0.7;
    padding-right: 1.5em;

    & .fa-map-marker-alt {
      padding-right: 1em;
    }
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $color-background;
  padding: 2.5rem 0 3.4rem;

  &__title {
    width: 75%;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1rem;
  }

  &__description {
    width: 90%;
    text-align: center;
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 1.9rem;
  }

  &__btn {
    position: relative;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    color: #FFF;
    font-size: 0.965rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    @include shadow;
    z-index: 1;

    &:hover::after {
      opacity: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 2rem;
      z-index: -1;
      opacity: 0;
      background: linear-gradient(to bottom right, lighten($color-secondary, 4), lighten($color-primary, 4));
      @include shadow(0.15);
      transition: opacity 150ms;
    }
  }
}

.how-to {
  @include section-padding;

  &__title {
    @include title;
  }
}

.instructions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include section-margin;
}

.instructions {
  width: calc(100% - 0.75rem);
  height: 4.6em;
  margin-left: 0.75rem;
  margin-bottom: 1.5rem;
  background: $color-background;
  border-radius: 1.5em;
  @include shadow;
  position: relative;

  &--purple {
    background: #f5edff;
  }

  &__description {
    display: flex;
    align-items: baseline;
    position: absolute;
    font-size: 1em;
    font-weight: 500;
    top: 2.3rem - 0.75rem;
    left: -0.75em;
  }

  &__description-number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.825em;
    font-weight: 400;
    color: #fff;
    background: $color-primary;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 1.25rem;
  }

  &__description-icon {
    opacity: 0.5;
    margin-right: 1.5rem;

    &--purple {
      color: $color-primary;
      opacity: 1;
    }
  }
}