// Fonctionnement

.instructions-container {
  @include section-padding;
  background: #fff;

  &__title {
    @include title;
  }
}

.instructions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include section-margin;

  //Media queries
  @include tablet-small {
    width: 30rem;
  }

  @include desktop {
    @include section-margin;
    flex-direction: row; // Make the instructions lay out in row instead of column
    justify-content: space-between;
  }
}

.instructions {
  position: relative; // To position pseudo-element
  width: calc(100% - $instructions-num-size * 0.5); // Compensate for the number disc shift 
  height: $instructions-height;
  margin-left: $instructions-num-size * 0.5; //Center the block
  margin-bottom: 1.5rem;
  background: $color-background;
  border-radius: 1.5rem;
  z-index: 1;
  @include shadow;

  // Media queries
  @include desktop {
    width: calc(33% - $section-margin); // From full width to a third
  }

  // Pseudo-element to change opacity instead of background
  &::after {
    content: "";
    @include cover; // Position in parent element
    border-radius: 1.5rem;
    z-index: -1;
    opacity: 0;
    background: lighten($color-primary, 35);
  }

  &:hover::after {
    opacity: 1;
  }

  &:hover &__description-icon--grey {
    opacity: 0;
  }

  &:hover &__description-icon--purple {
    opacity: 1;
  }

  &__description {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    top: $instructions-height * 0.5 - $instructions-num-size * 0.5; // Center vertically
    left: $instructions-num-size * -0.5; // Move to the left half the size of the number disc
  }

  &__description-number {
    @include flex-center;
    font-size: 0.825rem;
    font-weight: 400;
    color: #fff;
    background: $color-primary;
    width: $instructions-num-size;
    height: $instructions-num-size;
    border-radius: 50%;
    margin-right: 1.25rem;
  }

  &__description-icon {
    @include flex-center;
    position: relative; // To position purple icon
    margin-right: 1.5rem;

    &--grey {
      opacity: 0.5;
    }

    // Purple icon to change opacity instead of color
    &--purple {
      @include cover; // Position in parent element
      color: $color-primary;
      opacity: 0;
    }
  }
}