.location {
  @include flex-center;
  background: darken($color-background, 4.75);
  padding: 1em 0;
  box-shadow: inset 0px 8px 8px -10px rgba(0, 0, 0, 0.5);

  &__name {
    font-weight: 500;
    opacity: 0.8;
    padding-right: 1.5em;

    & .location-icon {
      padding-right: 1em;
    }
  }
}