.heart {
  @include flex-center;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;

  &__icon--full {
    @include overlap;
    background: linear-gradient(to top, $color-secondary, $color-primary);
    color: transparent;
    background-clip: text;
    font-weight: 900;
    transform: scale(0);
  }

  &:hover &__icon {
    opacity: 0;
    transition: opacity 0.2s 0.5s;
  }

  &:hover &__icon--full {
    animation: heart-animation 0.8s forwards;
  }
}

@keyframes heart-animation {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}