// Box model setup
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
  background: darken($color-background, 12);
}

// Basic style for links
a {
  color: #000;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}