// Menu section

.restaurant-menu-container {
  position: relative; // Make the section overlap //
  margin-top: -3.25rem; // the restaurant image     //
  background: $color-background;
  border-radius: 2.5rem 2.5rem 0 0;
  padding-bottom: 4rem;

  &__btn {
    @include flex-center;
    margin-top: 3rem;

    // Make the button component narrower
    & .btn--lg {
      padding: 1rem 3.125rem;
    }
  }
}

.restaurant-heading {
  @include section-margin;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 2.25rem;

  &__name {
    font-family: $font-secondary;
    font-size: 1.67rem;
    font-weight: 500;
  }

  &__heart {
    margin-right: 1.25rem;
  }
}

.menu-wrapper {

  // Media queries - Change courses and order button layout on tablet and desktop
  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__course {
    @include tablet {
      width: 50%;
    }
  }

  &__button {
    @include tablet {
      width: 50%;
      @include flex-center;
    }
  }
}

.restaurant-course {
  @include section-margin;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 2.25rem;

  &__divider {
    width: 2.5rem;
    border-top: 3px solid $color-tertiary;
    margin-top: 0.375rem;
  }
}

// Dish block and its animations
.restaurant-dish {
  display: flex;
  align-items: center;
  position: relative;
  width: calc($section-width + 0.75rem);
  margin: auto;
  margin-top: 0.825rem;
  background: #fff;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  @include shadow(0.1);
  animation: dish-animation 0.8s ease-out both $dish-delay; // Animation properties

  // Generate selectors and rules for incremental animation delays
  @for $i from 1 through $num-dish-delay {
    &--delay#{$i} {
      animation-delay: $dish-delay + 0.15s * $i;
    }
  }

  &:hover &__description {
    width: calc(100% - ($price-width + $check-width)); // Reduce block width to make the text overflow
  }

  &:hover &__price {
    transform: translateX(-$price-width); // Move to the left
  }

  &:hover &__check {
    transform: translateX(-$check-width); // Move to the left

    & span {
      transform: rotate(0deg); // Rotate the check mark
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem 1.25rem 0.75rem 0.625rem;
    width: calc(100% - $price-width); // Initial block width
    transition: width 0.6s linear; // Transition properties

    & h3 {
      font-size: 1.125rem;
      font-weight: 500;
      padding-bottom: 0.375rem;
      @include ellipsis; // Manage text overflow
    }

    & p {
      font-size: 0.927rem;
      font-weight: 300;
      @include ellipsis; // Manage text overflow
    }
  }

  &__price {
    position: absolute;
    right: 0;
    bottom: 0;
    width: $price-width;
    font-size: 0.925rem;
    font-weight: 700;
    padding-bottom: 0.75rem;
    transform: translateX(0); // Initial position
    transition: transform 0.6s ease 0.1s; // Transition properties

  }

  &__check {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -$check-width; // Position the block outside of its parent
    width: $check-width;
    background: $color-tertiary;
    color: #fff;
    @include flex-center;
    transform: translateX(0); // Initial position
    transition: transform 0.7s ease; // Transition properties

    & span {
      transform: rotate(-180deg); // Initial rotation
      transition: transform 0.3s ease-in 0.1s; // Transition properties
    }
  }
}

// Animation of dish blocks appearance keyframes
@keyframes dish-animation {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}