.restaurant-menu-container {
  position: relative;
  background: $color-background;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -3.25rem;
  padding-bottom: 4rem;

  &__btn {
    @include flex-center;
    margin-top: 3rem;

    & .btn--lg {
      padding: 1rem 3.125rem;
    }
  }
}

.restaurant-heading {
  @include section-margin;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 2.25rem;

  &__name {
    font-family: $font-secondary;
    font-size: 1.67rem;
    font-weight: 500;
  }

  &__heart {
    margin-right: 1.25rem;
  }
}

.menu-wrapper {
  @include tablet {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__course {
    @include tablet {
      width: 50%;
    }
  }

  &__button {
    @include tablet {
      width: 50%;
      @include flex-center;
    }
  }
}

.restaurant-course {
  @include section-margin;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 2.25rem;

  &__separator {
    width: 2.5rem;
    border-top: 3px solid $color-tertiary;
    margin-top: 0.375rem;
  }
}

.restaurant-dish {
  display: flex;
  align-items: center;
  position: relative;
  width: calc($section-width + 0.75rem);
  margin: auto;
  margin-top: 0.825rem;
  background: #fff;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  @include shadow(0.1);
  animation: dish-animation 0.8s ease-out both $dish-delay;
  
  @for $i from 1 through $num-dish-delay {
    &--delay#{$i} {
      animation-delay: $dish-delay + 0.15s * $i;
    }
  }

  &:hover &__description {
    width: calc(100% - ($price-width + $check-width));
    transition: width 0.7s linear;
  }

  &:hover &__price {
    transform: translateX(-$price-width);
    transition: transform 0.7s ease 0.1s;
  }

  &:hover &__check {
    transform: translateX(-$check-width);
    transition: transform 0.8s ease;

    & span {
      transform: rotate(0deg);
      transition: transform 0.4s ease 0.2s;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem 1.25rem 0.75rem 0.625rem;
    width: calc(100% - $price-width);
    transition: width 0.6s linear 0.2s;

    & h3 {
      font-size: 1.125rem;
      font-weight: 500;
      padding-bottom: 0.375rem;
      @include ellipsis;
    }

    & p {
      font-size: 0.927rem;
      font-weight: 300;
      @include ellipsis;
    }
  }

  &__price {
    position: absolute;
    right: 0;
    bottom: 0;
    width: $price-width;
    font-size: 0.925rem;
    font-weight: 700;
    padding-bottom: 0.75rem;
    transform: translateX(0);
    transition: transform 0.6s ease-in 0.1s;
  }

  &__check {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -$check-width;
    width: $check-width;
    background: $color-tertiary;
    color: #fff;
    @include flex-center;
    transform: translateX(0);
    transition: transform 0.6s ease-in;

    & span {
      transform: rotate(-180deg);
      transition: transform 0.4s ease-in 0.1s;
    }
  }
}

@keyframes dish-animation {
  0% {
    opacity: 0;
    transform: translateY(1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}